.App {
  text-align: center;
}
/*font-family: 'Lobster', cursive;*/

@import url('https://fonts.googleapis.com/css?family=Lobster|Quicksand');

 /*============ GLOBAL ===============*/
* {
  text-decoration: none;
  font-size: 20px;
  text-transform: lowercase;
  color: navy;
  /*text-decoration-color: none;*/
}

body {
  margin: 0;
  padding: 0;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;

}

.children {
  margin: 5% 0;
  display: flex;
  justify-content: center;
}

/*---- nav bar -----*/

.navBar {
  display: flex;
  flex-direction: column;
  margin: 1% 0;
  justify-content: space-around;
}

.HAC {
  background-color: #ccffe9;
  letter-spacing: 2px;
  line-height: 250%;
  display: flex;
}

img {
  height: 150px;
  width: 150px;
}

.link a {
  color: navy;
  font-size: 25px;
  margin: 0 1em;
}

/*----- home ------*/

.categories {
  color: blush;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
  font-family: 'Lobster', cursive;
  letter-spacing: normal;
}

.cat {
  width: 10em;
  height: 10em;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 2em;
}

 /*------ children ------*/
.itemwrapper {
  display: flex;
  margin: 4% 0;
}

.itemdescription {
  flex-direction: column;
  padding: 2%;
  margin-left: 2%;
}
