
@import url('https://fonts.googleapis.com/css?family=Lobster|Quicksand');

 /*============ GLOBAL ===============*/

* {
  text-decoration: none;
  font-size: 25px;
  text-transform: lowercase;
  color: navy;
}

body {
  margin: 0;
  padding: 0;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
}

.App {
  text-align: center;
}

.children {
  padding: 2% 5%;
  flex-flow: row wrap;
  background-color: #88d3d3;
}

h1 {
  font-family: 'Lobster', cursive;
}

.navBar {
  display: flex;
  flex-direction: column;
  margin: 1% 0;
  justify-content: space-around;
}

.HAC {
  letter-spacing: 2px;
  line-height: 250%;
  display: flex;
}

img {
  height: 150px;
  width: 150px;
}

.nav a {
  color: navy;
  font-size: 25px;
  margin: 0 1em;
}

.footer {
  display: flex;
  flex-direction: row;
}

/*-------- home -------*/

.introImg {
  height: 100%;
  width: 100%;

}

/*----- shop ------*/

.link {
  width: 10em;
  height: 10em;
  display: flex;
  justify-content: center;
  margin: 1em 1em;
  align-items: center;
  background: white;
  box-shadow: 10px 10px 5px grey;
}

.shop {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.shopResult {
  display: flex;
  flex-direction: row;
  margin: 2% 0;
}

.shopDesc {
  margin-left: 2em;
  background-color: white;
  padding: 0 2%;
  border-radius: 25px 25px 25px 0;
}

.shopImg {
  box-shadow: 10px 10px 5px grey;
}

/*------- about ---------*/

.about {
  width: 100%;
}

.aboutDiv {
  display: flex;
  padding: 2% 3%;
}

.aboutBody {
  padding: 0 2%;
  width: 60%;
  margin: 2% 3%;
  background-color: white;
}

.aboutImg {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 10px 10px 5px grey;
}

#aboutVi {
  border-radius: 25px 25px 25px 0;
}

#aboutHandmade {
  border-radius: 25px 25px 0 25px;
}

#aboutPatreon {
  border-radius: 25px 25px 25px 0;
}

/*====== MEDIA QUERIES =======*/

@media only screen and (max-width: 750px) {
  .shop {
  justify-content: space-around;
}
}
