
@import url('https://fonts.googleapis.com/css?family=Lobster|Quicksand');

 /*============ GLOBAL ===============*/

* {
  text-decoration: none;
  font-size: 25px;
  text-transform: lowercase;
  color: navy;
}

body {
  margin: 0;
  padding: 0;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
}

.App {
  text-align: center;
}

.children {
  padding: 0 5%;
  flex-flow: row wrap;
}

h1 {
  font-family: 'Lobster', cursive;
}

/*---- nav bar -----*/

.navBar {
  display: flex;
  flex-direction: column;
  margin: 1% 0;
  justify-content: space-around;
}

.HAC {
  letter-spacing: 2px;
  line-height: 250%;
  display: flex;
}

img {
  height: 150px;
  width: 150px;
}

.nav a {
  color: navy;
  font-size: 25px;
  margin: 0 1em;
}

/*-------- home -------*/

.home {
  width: 100%;
  height: 20em;
  background-image: url('./Muji_Doodle/Muji_Doodle.mp4');
  background-size: cover;
  background-repeat: no-repeat;
}

/*----- shop ------*/

.link {
  width: 10em;
  height: 10em;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  margin: 1em 1em;
  align-items: center;
  border: 1px solid blue;
}

.shop {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.shopResult {
  display: flex;
  flex-direction: row;
}

.shopDesc {
  margin-left: 2em;
}

/*------- about ---------*/

.about {
  width: 35em;
}

/*====== MEDIA QUERIES =======*/

@media only screen and (max-width: 750px) {
  .shop {
  justify-content: space-around;
}
}
